.skills-other {
    min-height: 100vh;
    width: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    background-color: $color-dark;

    &__title {
        font-size: 1.5em;
        color: $color-white;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        height: 2em;
    }
}

#canvas {
    outline: none !important;
    -webkit-tap-highlight-color: rgba(3, 3, 3, 0);
    -webkit-tap-highlight-color: rgba(14, 13, 13, 0);
    /* mobile webkit */
}


@media (min-width: 1200px) {
    .skills-other {

        &__title {
            font-size: 2em;
        }
    }
}