.skills {

    &__front,
    &__back {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-content: space-around;

        &__title {
            width: 100%;
            font-size: 1.2em;
        }

        &__content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    &__next {
        transition: 2s;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        pointer-events: none;

        &__button {
            cursor: pointer;
            transition: 2s;
            padding: 1em;
            font-weight: bold;
            border: none;
            color: $color-white;
            background-color: transparent;
            pointer-events: initial;
        }
    }
}

@media (min-width: 1024px) {
    .skills {

        &__next {
            justify-content: center;

        }
    }
}