@keyframes rotating {

    0% {
        padding: 2.2em;
    }

    25% {
        padding: 2.35em;
    }

    50% {
        padding: 2.5em;
    }

    75% {
        padding: 2.35em;
    }

    100% {
        padding: 2.2em;
    }
}

.rotating {
    -webkit-animation: rotating 4s linear infinite;
}