@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body {
    font-family: 'Caveat', sans-serif;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

button {
    font-family: 'Caveat', sans-serif;
}